.chat_bottom {
  z-index: 2;
  position: absolute;
  left: 50%;
  bottom: 0;
  background: #cfe7e9;
  width: 750px;
  padding: 32px 30px;
  box-sizing: border-box;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .chat_bottom {
    width: 375px;
    padding: 16px 15px;
  }
}
