.container {
  position: relative;
  max-width: 750px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

@media (max-width: 768px) {
  .container {
    width: 375px;
    max-width: 375px;
  }
}
