.searchInput {
  width: calc(100% - 192px);
  height: 100%;

  .form_input {
    display: block;
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .searchInput {
    width: calc(100% - 83px);
    .form_input {
      padding: 0 7px;
      font-size: 14px;
    }
  }
}
