.message_group {
  display: flex;
  height: 100%;
  .userImage {
    width: 80px;
    margin-right: 12px;
  }
  .message_item {
    display: flex;
    height: 100%;
    .message_user {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .message_userName {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin-bottom: 12px;
        color: #71727a;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
      }
      .message_space {
        position: relative;
        max-width: 508px;
        .message_text {
          display: inline-block;
          background: #fff;
          padding: 8px 15px;
          box-sizing: border-box;
          border-radius: 0px 10px 10px 10px;
          -webkit-border-radius: 0px 10px 10px 10px;
          -moz-border-radius: 0px 10px 10px 10px;
          -ms-border-radius: 0px 10px 10px 10px;
          -o-border-radius: 0px 10px 10px 10px;
          font-size: 28px;
        }
        .message_action {
          z-index: 1;
          position: absolute;
          width: 280px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          background: #fff;
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;

          box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.22);
          -webkit-box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.22);
          -moz-box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.22);

          .list_action {
            .item_action {
              .button_message {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                color: #000;
                font-size: 28px;
                padding: 26px 0;
              }
              &:not(:last-child) {
                border-bottom: 1px solid #d8e8ed;
              }
            }
          }
          &:before {
            position: absolute;
            content: " ";
            display: block;
            top: -10px;
            left: 50%;
            background: #fff;
            width: 20px;
            height: 20px;
            border-left: 15px solid #fff;
            border-bottom: 15px solid #fff;
            transform: translateX(-50%) rotate(135deg);
            -webkit-transform: translateX(-50%) rotate(135deg);
            -moz-transform: translateX(-50%) rotate(135deg);
            -ms-transform: translateX(-50%) rotate(135deg);
            -o-transform: translateX(-50%) rotate(135deg);
          }
        }
      }
    }
    .message_info {
      position: relative;
      display: flex;
      flex-direction: column;
    }
    .message_time {
      margin: auto 0 0 10px;
      color: #666668;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
    }
    .message_isRead {
      position: absolute;
      bottom: 20px;
      font-size: 18px;
    }
  }
  &.message_coworker {
    margin-right: auto;
    .message_item {
      .message_info {
        .message_isRead {
          left: 10px;
        }
      }
    }
  }
  &.message_currentUser {
    margin-left: auto;
    .message_item {
      .message_info {
        .message_time {
          margin-left: 0;
        }
        .message_isRead {
          margin-left: 0px;
          right: 0;
        }
      }
      .message_user {
        flex-direction: row;
        .message_space {
          margin-left: 10px;
          .message_text {
            background: #0dabc0;
            border-radius: 10px 0px 15px 10px;
            -webkit-border-radius: 10px 0px 15px 10px;
            -moz-border-radius: 10px 0px 15px 10px;
            -ms-border-radius: 10px 0px 15px 10px;
            -o-border-radius: 10px 0px 15px 10px;
            color: #fff;
            line-height: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .message_group {
    .userImage {
      width: 40px;
      margin-right: 6px;
    }
    .message_item {
      .message_user {
        .message_userName {
          font-size: 12px;
          margin-bottom: 6px;
        }
        .message_space {
          max-width: 254px;
          .message_text {
            font-size: 14px;
            padding: 4px 7px;
          }
          .message_action {
            width: 140px;
            .list_action {
              .item_action {
                .button_message {
                  padding: 13px 0;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .message_time {
        margin: auto 0 0 5px;
        font-size: 9px;
      }
      .message_isRead {
        bottom: 10px;
        font-size: 9px;
      }
    }
    &.message_coworker {
      .message_item {
        .message_info {
          .message_isRead {
            left: 5px;
          }
        }
      }
    }
  }
}
