.item_members {
  .title_members {
    display: flex;
    align-items: center;
    padding: 26px 0 26px 6px;
    box-sizing: border-box;
    .image_sideBarIcon {
      width: 48px;
      height: 48px;
      margin-right: 20px;
    }
    .text_sideBar {
      font-size: 32px;
    }
  }
  .link_addMember {
    display: flex;
    align-items: center;
    width: 100%;
    .image_add {
      width: 60px;
      margin-right: 20px;
    }
    .text_addMeber {
      color: #006ffd;
      font-size: 28px;
      font-weight: 400;
    }
  }
  .list_member {
    margin-top: 22px;
    .item_member {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 244px;
      .image_member {
        width: 60px;
      }
      .text_memberName,
      .text_memberStatus {
        font-size: 28px;
      }
      .text_memberStatus {
        color: #aaa;
      }
      &:not(:last-child) {
        margin-bottom: 22px;
      }
      &:after {
        content: " ";
        position: absolute;
        right: 67px;
        top: 50%;
        background: #616161;
        display: block;
        width: 1px;
        height: 24px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
      }
    }
  }
}

@media (max-width: 768px) {
  .item_members {
    .title_members {
      padding: 13px 0 13px 3px;
      .image_sideBarIcon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
      .text_sideBar {
        font-size: 16px;
      }
    }
    .link_addMember {
      .image_add {
        width: 30px;
        margin-right: 15px;
      }
      .text_addMeber {
        font-size: 14px;
      }
    }
    .list_member {
      margin-top: 11px;
      .item_member {
        width: 122px;
        .image_member {
          width: 30px;
        }
        .text_memberName,
        .text_memberStatus {
          font-size: 14px;
        }
        &:not(:last-child) {
          margin-bottom: 11px;
        }
        &:after {
          right: 33px;
          height: 12px;
        }
      }
    }
  }
}
